@font-face {
  font-family: nintendoFont;
  src: url(../assets/fonts/Nintend\ Bold.otf);
}

body {
  font-family: nintendoFont;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 25px;
  }

  header a img {
    height: 100px;
    margin: 0;
  }
  
  header nav a {
    margin-left: 50px;
    margin-top: 25px;
    color: #fe0016;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  header a:hover {
    text-decoration: underline;
  }

  .product-card {
    min-height: 400px;
    min-width: 350px;
    width: 50%;
    border: 3px solid #fe0016;
    border-radius: 25px;
    margin: 0 auto;
  }

  .product-title {
    font-size: 1.8rem;
    width: 345px;
    margin: 0 auto;
    padding: 1%;
  }


    #thumbnail-id ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
    }

    #thumbnail-id li {
      padding: 2%;
    }

  .image-container {
    width: 500px;
    height: 500px;
  }

  #mainproductimage {
    display: block;
    padding: 3%;
    min-width: 200px;
    max-width: 345px;
    height: auto;
    max-height: 400px;
    margin: 0 auto;
  }

  .thumbnail-image {
    width: auto;
    max-height: 50px;
    padding: 1%;
  }